name: Build PineHookPlus APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Build APK
      run: ./gradlew clean assembleRelease

    - name: Prepare hook files for release
      run: |
        mkdir -p release_files
        cp app/build/outputs/apk/release/app-release.apk release_files/

        cp -r app/src/hook/hook/{config.json,libpine32,libpine64} release_files/

    - name: Release APK and Hook Files
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v1.0
        name: PineHookPlus v1.0
        files: release_files/*
        overwrite_files: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
